.vs/
x64/
Win32/
BackEnd/x64/
BackEnd/BackEnd/
*.ilk
*.tlog
*.obj
*.pdb
*.idb
*.lib
*.dll
*.exe
*.suo
*.user
**/*.sln
**/*.vcxproj
**/*.filters
**/*.vcxproj.user
**/x64/
**/[Dd]ebug/
**/[Rr]elease/
**/*.exe
**/*.pdb
**/*.ilk
**/*.tlog
**/.vs
**/*.obj
**/*.idb
**/*.lib
**/*.dll
**/*.suo
**/*.user